<md-tab label="Mes Loisirs">
    <h1 class="md-display-2">Loisir</h1>
    <md-content class="md-padding">
        <form name="HobbForm" ng-submit="addHobb(resume.hobbies)">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Loisir</label>
                <input ng-model="resume.hobbies.content.label">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Type du loisir</label>
                <input ng-model="resume.hobbies.genre">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Detail</label>
                        <textarea ng-model="resume.hobbies.content.detail" md-maxlength="50" rows="5"
                                  md-select-on-focus></textarea>
            </md-input-container>
            <md-button type="submit" class="md-raised md-primary">Valider</md-button>
        </form>
    </md-content>
</md-tab>