<md-tab label="Mes Experiences Professionnelles">
    <md-content class="md-padding">
        <h1 class="md-display-2">Expérience professionnelle</h1>

        <!-- FORM EXPERIENCES -->
        <form name="ExpForm">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Poste</label>
                <input ng-model="resume.experiences.title">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Entreprise</label>
                <input ng-model="resume.experiences.company">
            </md-input-container>

            <md-datepicker ng-model="resume.experiences.start" md-placeholder="Début">
            </md-datepicker>
            <md-datepicker ng-model="resume.experiences.end" md-placeholder="Fin">
            </md-datepicker>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Ville</label>
                    <input ng-model="resume.experiences.location">
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Description</label>
                        <textarea ng-model="resume.experiences.description" md-maxlength="150" rows="5"
                                  md-select-on-focus></textarea>
            </md-input-container>


            <md-button class="md-raised md-primary">Suivant</md-button>

        </form>
    </md-content>
</md-tab>