/**
    SIDENAV
**/
.active {
    background-color: rgba(245,245,245 ,1);
}
h4.subText{
    font-size: 0.8em !important;
    color:#9E9E9E !important;
}
a{
    color: #FF9800;
}
#template2{
    padding:30px;
    /*font-size: 1em;*/
    font-family: "Helvetica Neue";
    background-color: rgb(39, 40, 34); 
     font-size: 0.8em;
}

#template2 #titre{

    color: rgb(149,198,43);
}

#template2 #accolade{
    color: #ffffff;
}

#template2 #soustitre{
    margin-left:1%;
    color: rgb(99,237,219);
}

#template2 #texte{
    color: rgb(230,219,116);
}

#template2 #chiffre{
    color: rgb(174,129,247);
}
/**99 237 219
    ENTETE
**/
#template2 #entete{
    width: 100%;
    margin-top:50px;
}

#template2 #entete img{
    border-radius: 50px;
    width:100px;
    height:100px
}
/**
#template2 #entete div{
    text-align: left;
}

   TITRE
**/
#template2 h1{
    text-align: center;
    text-transform: uppercase;
    color: rgb(149,198,43);
}
/**
   SECTION
**/
/*#resume .resume_block{*/
    /*display: none;*/
/*}*/
#template2 .extra{
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

#template2 h3{
    border-bottom: 1px solid black;
    cursor: pointer
}
#template2 h4{
    font-weight: normal;
    margin: 0px;
}
#template2 h5{
    font-weight: 200;
    margin: 0px;
}

#template2 #experience{
    width:49%;
    display: inline-block;
    margin-right: 1%;
}
#template2 #formation{
    width:49%;
    display: inline-block;
}

#template2 #competence{
    width:49%;
    margin-right: 1%;
    margin-top: 60px;
    display:inline-block;
}

#template2 #loisir{
    width: 49%;
    margin-top: 60px;
    display: inline-block;
}

#template2 #blocexpforma{
    display: inline-block;
    width: 100%;
}

#template2 #bloccompelois{
    display: inline-block;
    width: 100%;
}
/**
    resume-line
**/
resume-line{
    width: 100%;
    margin-bottom: 10px;
}

resume-line .date{
    font-size: 0.7em;
    color: gray;
}
resume-line ul{
    list-style: none;
    padding: 0px;
    font-size: 0.8em;
    margin-top:5px;
    margin-bottom: 0px;
}
resume-line ul li{
    padding-bottom: 5px;
    color: gray;
}

resume-linetempl li{
    padding-bottom: 5px;
    color: gray;
}
resume-line ul li:last-child{
    padding-bottom: 0px;
}
coordonnee-persontempl #info{
    color: rgb(230,219,116);
}

/**
    List free
**/

.content{
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
    border:1px solid grey;
    color: #555;
    font-size: 0.8em;
}
.content em{
    font-size: 0.8em;
}
