<md-content id="monResume">

    <div id="entete" layout="row" layout-align="start start" flex>

        <img ng-if="resume.person.photo" ng-src="images/candidate/{{resume.person.photo}}" alt="{{resume.person.name}}" style="width:100px;height: 100px"/>
        <img ng-if="!resume.person.photo" ng-src="images/candidate/download.png" alt="Default" style="width:100px;height: 100px"/>

        <div flex></div>

        <div id="coord" layout="column" layout-align="end start">

            <h2>{{resume.person.name}}</h2>

            <coordonnee-person coordonnee="resume.person.contact"></coordonnee-person>

        </div>

    </div>

    <h1>{{resume.title}}</h1>

    <div ng-if="resume.extra" class="extra">
        {{resume.resume.extra}}
    </div>
<md-button class="md-raised md-warn">Modifier</md-button>
<md-button class="md-raised md-warn">Supprimer</md-button>

    <div flex-xs="" flex-gt-xs="50" layout="column">
    <div ng-if="resume.educations.length">

           <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
           <div ng-if="resume.experiences.length">

        <h3>Experiences Professionnelles</h3>

        <resume-line ng-repeat="exp in resume.experiences | orderBy : orderFn : -1 track by $index"
                     title       = "exp.title"
                     start       = "exp.start"
                     end         = "exp.end"
                     place       = "exp.company"
                     location    = "exp.location"
                     description = "exp.description"></resume-line>

    </div>
          </md-card-title-text>
          
    </div>
</div>
<div flex-xs="" flex-gt-xs="50" layout="column">
    <div ng-if="resume.educations.length">

           <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <div ng-if="resume.educations.length">

        <h3>Formations</h3>

        <resume-line ng-repeat="formation in resume.educations | orderBy : orderFn : -1 track by $index"
                     title       = "formation.title"
                     start       = "formation.start"
                     end         = "formation.end"
                     place       = "formation.school"
                     location    = "formation.location"
                     description = "formation.description"></resume-line>

    </div>
          </md-card-title-text>
          
    </div>
</div>

    <div ng-if="resume.competencies.length" ng-cloak>

         <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <div ng-if="resume.educations.length">

        <h3>Competences</h3>

        <resume-list ng-repeat="competence in resume.competencies track by $index"
                     title="competence.type"
                     content="competence.content"
                     attribute="'level'"></resume-list>
 </div>
          </md-card-title-text>
          
    </div>

    </div>

    <div ng-if="resume.hobbies.length">

        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="">
        <md-card-title>
          <md-card-title-text>
            <div ng-if="resume.educations.length">

        <h3>Loisirs</h3>

        <resume-list ng-repeat="hobby in resume.hobbies track by $index"
                     title="hobby.type"
                     content="hobby.content"
                     attribute="'detail'"></resume-list>

        </div>
          </md-card-title-text>
    </div>
</div>


</md-content>