<md-content>
    <md-tabs md-dynamic-height="" md-border-bottom="" md-selected="selectedIndex">
        <md-tab label="Mes,Informations générales">
            <h1 class="md-display-2">Informations Générales</h1>
            <md-content class="md-padding">
                <form name="formulaireIG" ng-submit="addPerson(person,resume.title)" novalidate>
                    <ng-form name="formPerson">

                        <div>

                        <input type=file id="file"  ng-click="ajouter()">
                            <div id="prev"></div>

                            </div>
                        <md-input-container>
                            <input ng-model="person.name" placeholder="Prenom*" required/>
                            <div ng-messages="formulaireIG.prenom.$error">
                                <div ng-message="required">Champ obligatoire</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <input id="nom" placeholder="Nom*" required>
                            <div ng-messages="formulaireIG.nom.$error">
                                <div ng-message="required">Champ obigatoire</div>
                            </div>

                        </md-input-container>

                        <md-input-container>
                            <input ng-model="person.telephone" type="text" placeholder="Numéro de téléphone*" name="phone"
                                   required>
                            <div ng-messages="formulaireIG.phone.$error" role="alert">
                                <div ng-message-exp="['required']">
                                    Champ obligatoire
                                </div>
                            </div>

                        </md-input-container>

                        <h4>Date de naissance</h4>
                        <md-datepicker ng-model="person.birthDate" md-placeholder="JJ/MM/AAAA" required="">
                        </md-datepicker>
                        <div ng-messages="formulaireIG.birthDate.$error">
                            <div ng-message="required">Date obigatoire</div>
                        </div>

                        <br>
                        <md-input-container>
                            <label>Email*</label>
                            <input name="email" ng-model="person.contact.email" type="email" required=""
                                   ng-pattern="/^.+@.+\..+$/">
                            <div ng-messages="formulaireIG.email.$error" role="alert">
                                <div ng-message-exp="['required', 'pattern']">
                                    Adresse-mail obigatoire
                                </div>
                            </div>
                        </md-input-container>

                        <h4>Adresse</h4>

                        <md-input-container>
                            <label>Rue*</label>
                            <input name="adresse" ng-model="person.contact.address.street"
                                   required>
                            <div ng-messages="formulaireIG.adresse.$error">
                                <div ng-message="required">Champ obigatoire</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <input name="ville" ng-model="person.contact.address.city" placeholder="Ville*" required>
                            <div ng-messages="formulaireIG.ville.$error">
                                <div ng-message="required">Champ obigatoire</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <input name="postalCode" ng-model="person.contact.address.zipCode"
                                   placeholder="Code postal*"
                                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5" required>
                            <div ng-messages="formulaireIG.postalCode.$error">
                                <div ng-message="required">Champ obigatoire</div>
                                <div ng-message="pattern">Code postal non valide</div>
                                <div ng-message="md-maxlength"> Code postal non valide</div>
                            </div>
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <label>Titre de votre CV*</label>
                            <input ng-model="resume.title" required>
                        </md-input-container>
                    </ng-form>
                    <md-button type="submit" class="md-raised md-primary" ng-click="nextTab()"
                               ng-disabled="formPerson.$invalid" >Suivant
                    </md-button>
                </form>
            </md-content>
        </md-tab>


        <md-tab label="Mes Experiences Professionnelles" ng-disabled="formPerson.$invalid">
            <md-content class="md-padding">
                <h1 class="md-display-2">Expérience professionnelle</h1>

                <!-- FORM EXPERIENCES -->
                <form name="ExpForm" >

                    <ng-form ng-name="formExp">
                        <ol>
                            <li data-ng-repeat="exp in resume.experiences track by $index">
                                <h4>Experience</h4>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Poste*</label>
                            <input data-ng-model="resume.experiences[$index].title"  required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Entreprise*</label>
                            <input ng-model="resume.experiences[$index].company" required>
                        </md-input-container>

                        <md-datepicker ng-model="resume.experiences[$index].start" md-placeholder="Début*" required="">
                        </md-datepicker>
                        <md-datepicker ng-model="resume.experiences[$index].end" md-placeholder="Fin*" required="">
                        </md-datepicker>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Ville*</label>
                                <input ng-model="resume.experiences[$index].location" data-ng-change="changeExperience($index)" required>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Description</label>
                        <textarea ng-model="resume.experiences[$index].description" md-maxlength="150" rows="5"
                                  md-select-on-focus></textarea>
                        </md-input-container>
                                <md-button data-ng-show="exp" class="md-accent md-raised md-hue-1" data-ng-click="resume.experiences.splice($index,1)">
                            Supprimer</md-button>
                        </li>
                    </ol>
                    </ng-form>


                    <md-button class="md-raised md-warn" ng-click="PrevTab()">Précédent </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-click="nextTab()"
                               >Suivant
                    </md-button>

                </form>
            </md-content>
        </md-tab>

        <md-tab label="Mes Formations" ng-disabled="formPerson.$invalid">
            <md-content class="md-padding">
                <h1 class="md-display-2">Formation</h1>
                <!-- FORM FORMATION-->

                <form name="EducForm" >
                    <ng-form name="formEduc">
                        <ol>
                            <li data-ng-repeat="educ in resume.educations track by $index">
                                <h4>Formation</h4>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Titre de la Formation*</label>
                            <input ng-model="resume.educations[$index].title" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Ecole*</label>
                            <input ng-model="resume.educations[$index].school" required>
                        </md-input-container>

                        <md-datepicker required ng-model="resume.educations[$index].start" md-placeholder="Début*" required="">
                        </md-datepicker>
                        <md-datepicker ng-model="resume.educations[$index].end" md-placeholder="Fin*" required="">
                        </md-datepicker>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Ville*</label>
                                <input ng-model="resume.educations[$index].location" data-ng-change="changeEducation($index)" required>
                            </md-input-container>
                        </div>
                        <md-input-container class="md-block">
                            <label>Description</label>
                        <textarea ng-model="resume.educations[$index].description" md-maxlength="150" rows="5"
                                  md-select-on-focus></textarea>
                        </md-input-container>
                                <md-button data-ng-show="educ" class="md-accent md-raised md-hue-1" data-ng-click="resume.educations.splice($index,1)">
                                    Supprimer</md-button>
                            </li>
                        </ol>
                    </ng-form>

                    <md-button class="md-raised md-warn" ng-click="PrevTab()">Précédent </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-click="nextTab()"
                               >Suivant
                    </md-button>

                </form>
            </md-content>
        </md-tab>


        <md-tab label="Mes Competences" ng-disabled="formPerson.$invalid">
            <md-content class="md-padding">
                <h1 class="md-display-2">Compétences</h1>
                <form name="CompForm" >
                    <ng-form name="formComp">
                        <ol>
                            <li  data-ng-repeat="comp in resume.competencies track by $index">
                                <h4>Compétence</h4>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Nom de la compétence*</label>
                            <input ng-model="resume.competencies[$index].content.label" required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Genre de la compétence*</label>
                            <input ng-model="resume.competencies[$index].type" data-ng-change="changeCompetence($index)"required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Niveau</label>
                            <input ng-model="resume.competencies[$index].content.level">
                        </md-input-container>
                                <md-button data-ng-show="comp" class="md-accent md-raised md-hue-1" data-ng-click="resume.competencies.splice($index,1)">
                                    Supprimer</md-button>
                            </li>
                        </ol>
                    </ng-form>

                    <md-button class="md-raised md-warn" ng-click="PrevTab()">Précédent </md-button>
                    <md-button type="submit" class="md-raised md-primary" ng-click="nextTab()" >Suivant
                    </md-button>

                </form>
            </md-content>
        </md-tab>

        <md-tab label="Mes Loisirs" ng-disabled="formPerson.$invalid">
            <h1 class="md-display-2">Loisir</h1>
            <md-content class="md-padding">
                <form name="HobbForm" ng-submit="addResume(resume)">
                    <ng-form name="formHobb">
                        <ol>
                            <li  data-ng-repeat="hobb in resume.hobbies track by $index">
                                <h4>Loisir</h4>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Loisir*</label>
                            <input ng-model="resume.hobbies[$index].content[$index].label" required>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Type du loisir*</label>
                            <input ng-model="resume.hobbies[$index].type" data-ng-change="changeHobbie($index)" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Detail</label>
                        <textarea ng-model="resume.hobbies[$index].content[$index].detail" md-maxlength="50" rows="5"
                                  md-select-on-focus></textarea>
                        </md-input-container>
                        <md-button href="" data-ng-show="hobb" class="md-accent md-raised md-hue-1" data-ng-click="resume.hobbies.splice($index,1)">
                            Supprimer</md-button>
                        </li>
                        </ol>
                    </ng-form>

                    <md-button class="md-raised md-warn" ng-click="PrevTab()">Précédent</md-button>
                    <md-button type="submit" class="md-raised md-primary"
                                ng-click="addResume(resume)">Valider
                    </md-button>
                </form>
            </md-content>
        </md-tab>

    </md-tabs>
</md-content>
