<md-content  id="template">

    <div id="entete" layout="row" layout-align="start start" flex>

        <img ng-if="resume.person.photo" ng-src="images/candidate/{{resume.person.photo}}" alt="{{resume.person.name}}" style="width:100px;height: 100px"/>
        <img ng-if="!resume.person.photo" ng-src="images/candidate/download.png" alt="Default" style="width:100px;height: 100px"/>

        <div flex></div>

        <div id="coord" layout="column" layout-align="end start">

            <h2>{{resume.person.name}}</h2>

            <coordonnee-person coordonnee="resume.person.contact"></coordonnee-person>

        </div>

    </div>

    <h1>{{resume.title}}</h1>

    <div ng-if="resume.extra" class="extra">
        {{resume.resume.extra}}
    </div>
      
   




  <md-content id="template" class="md-padding" layout-xs="column" layout="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
    <div ng-if="resume.experiences.length">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch="" style="background-color:#90CAF9;">
        <md-card-title>
          <md-card-title-text>

            <h3>Expériences professionnelles</h3>
            
            <resume-line ng-repeat="exp in resume.experiences | orderBy : orderFn : -1 track by $index"
                     title       = "exp.title"
                     start       = "exp.start"
                     end         = "exp.end"
                     place       = "exp.company"
                     location    = "exp.location"
                     description = "exp.description"></resume-line>
          </md-card-title-text>
         
        </md-card-title>
       
        
    
        
      </md-card>
  </div>
   <div ng-if="resume.educations.length">

      <md-card md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch="" style="background-color:#80CBC4;">
        <md-card-title>
          <md-card-title-text>
            <h3>Competences</h3>

        <resume-list ng-repeat="competence in resume.competencies track by $index"
                     title="competence.type"
                     content="competence.content"
                     attribute="'level'"></resume-list>
          </md-card-title-text>
        </md-card-title>
        
      </md-card>
    </div>
</div>
    <div flex-xs="" flex-gt-xs="50" layout="column">
         <div ng-if="resume.educations.length">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch="" style="background-color:#E1BEE7;">
        <md-card-title>
          <md-card-title-text>
            <h3>Formations</h3>
            <resume-line ng-repeat="formation in resume.educations | orderBy : orderFn : -1 track by $index"
                     title       = "formation.title"
                     start       = "formation.start"
                     end         = "formation.end"
                     place       = "formation.school"
                     location    = "formation.location"
                     description = "formation.description"></resume-line>
          </md-card-title-text>
          
        </md-card-title>
       
      </md-card>

  </div>
       <div ng-if="resume.educations.length">
      <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch="" style="background-color:#FFF59D;">
        <md-card-title>
          <md-card-title-text>
            <h3>Loisirs</h3>

        <resume-list ng-repeat="hobby in resume.hobbies track by $index"
                     title="hobby.type"
                     content="hobby.content"
                     attribute="'detail'"></resume-list>

          </md-card-title-text>
          
        </md-card-title>
       
      </md-card>
     </div>
    </div>
  

</md-content>